<section id='search-bar'>
  <div>
    <h2 id='search-title'>Search Artist</h2>
  </div>
  <div>
    <form action="/search_artist" method="post">
      <input type="text" id="artist-input" name="artist" placeholder="Enter artist name" required>
      <input type="submit" value="Search" class="submit" hidden>
    </form>
  </div>
</section>
<section>
  <div class='subheader'>
    <h2>Artists</h2>
  </div>
  <table>
    <tr>
      <th>No.</th>
      <th>Artist Name</th>
    </tr>
    <% @artists.each_with_index do |artist, index| %>
    <tr>
      <td class='fit'>
        <%= index + 1 %>
      </td>
      <td>
        <a href="/artists/<%= artist['artist_id'] %>">
          <%= artist['artist_name'] %>
        </a>
      </td>
    </tr>
    <% end %>
  </table>
</section>
